.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget-header{
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;                  //to make the elements side by side
    justify-content: space-between; // to distribute the space between two elements
}

.widget-header__title{
    margin: 0;
}

.widget__message{
    color: $off-white;
    padding: $l-size;
    margin: 0;
    border-bottom: 0.1rem solid lighten($off-white, 10%) ;
    text-align: center;
}